@model List<Covid19CharitySystem.Models.Task>
@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

@using Covid19CharitySystem.Models
@using Covid19CharitySystem.BL
<section class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dashboard</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">New Tasks</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">New Tasks</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Picking Location</th>
                                        <th>Added at</th>
                                        <th>Donor Name</th>
                                        <th>Donor Email</th>
                                        <th>Donor Phone</th>
                                        <th>Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        Donation obj = new UserBL().getDonationById(Convert.ToInt32(item.Donation_Id));
                                        if (obj!=null)
                                        {

                                       
                                        User user = new UserBL().getUserById(Convert.ToInt32(obj.User_Id));
                                        <tr>
                                            <td>@obj.Type</td>
                                            <td>@obj.PickLocation</td>
                                            <td>@obj.CreatedAt.ToShortDateString()</td>
                                            <td> @user.Name</td>
                                            <td> @user.Email</td>
                                            <td> @user.Phone</td>
                                            <td><button class="btn btn-sm btn-info" onclick="UpdateStatus('@item.Id',1)">Mark as Complete</button> </td>
                                        </tr> }
                                    }

                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->
</section>
<script>
    function UpdateStatus(id, status) {
        $.ajax({
            url: "@Url.Action("UpdateStatus","Volunteer")",
            type: "post",
            data: {taskId:id, status:status},
            success: function (response) {

                if (response == 1) {
                    alert("Task is marked as completed successfully.");
                    location.reload();
                }
                else {
                    alert("Error");
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }
        });
    }
</script>

